#affichageSliders{
    border: solid 2px;
    margin: auto;
    height: 250px;
}

#timeline{
    border: solid 2px;
    margin:5% 10% 0% 10%;
    height:150px;
}

#affichageSliders input{
  transform: rotate(90 deg);
}

#nbVannes {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: auto;
}

.sliders{
  border : solid 5px;
}
